---
title: Projects
nav: projects
layout: default
---

A number of projects I am currently working on or have been working on in the past.

<h1> Open-source NLP software </h1>
<div class="boxes">
  {% for page in site.pages | sort:"title" %}
    {% if page.software == true %}
      {% if page.link %}
        <a class="project" href="{{ page.link }}">
      {% else %}
        <a class="project" href="{{ page.url | replace: '/index.html', '' }}">
      {% endif %}
          <div class="project-header">
              <h1>
                  {{ page.title }}
              </h1>
          </div>
          <div class="project-body">
            <p>
                {{ page.summary }}
            </p>
          </div>
        </a>
    {% endif %}
  {% endfor %}
</div>

<h1> NLP resources </h1>
<div class="boxes">
  {% for page in site.pages | sort:"title" %}
    {% if page.resource == true %}
      {% if page.link %}
        <a class="project" href="{{ page.link }}">
      {% else %}
        <a class="project" href="{{ page.url | replace: '/index.html', '' }}">
      {% endif %}
          <div class="project-header">
              <h1>
                  {{ page.title }}
              </h1>
          </div>
          <div class="project-body">
            <p>
                {{ page.summary }}
            </p>
          </div>
        </a>
    {% endif %}
  {% endfor %}
</div>
