---
title: Dydaktyka
nav: dydaktyka
layout: default
---

<table cellspacing="10">
<tr>
    <td colspan="2"> dr Marcin Junczys-Dowmunt </td>
</tr>
<tr>
    <td>E-mail:</td><td> <a href="mailto:junczys@amu.edu.pl">junczys@amu.edu.pl</a></td>
</tr>
<tr>
    <td>Pokój:</td><td> B2-34</td>
</tr>
<tr>
<td>Dyżur: </td><td> Pn. 13:30-14:30</td>
</tr>
<td>  </td><td> Wt. 12:00-13:00</td>
</tr>
</table>

<h2>2013/2014</h2>
<div class="boxes">
  {% for page in site.pages %}
    {% if page.dydaktyka == true and page.rok == "2013/2014" %}
      {% if page.link %}
        <a class="project" href="{{ page.link }}">
      {% else %}
        <a class="project" href="{{ page.url | replace: '/index.html', '' }}">
      {% endif %}
          <div class="project-header">
              <h2>
                  {{ page.title }}
              </h2>
          </div>
          <div class="project-body">
            <p>
                {{ page.summary }}
            </p>
          </div>
        </a>
    {% endif %}
  {% endfor %}
</div>
