<header>
    <div class="container">
        <div class="profile">
            <div class="social">
                <a href="http://www.linkedin/in/junczys">
                    <script src="//platform.linkedin.com/in.js" type="text/javascript"></script><script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/junczys" data-format="hover"></script>
		    <!--div data-picture data-alt="Twitter">
                        <div data-src="/img/twitter16.png"></div>
                        <div data-src="/img/twitter32.png"     data-media="(-webkit-min-device-pixel-ratio: 2)"></div>
                        <noscript><img src="/img/twitter16.png" alt="Twitter"></noscript>
                    </div-->
                </a>
                <a href="http://github.com/emjotde">
                    <div data-picture data-alt="Github">
                        <div data-src="/img/octocat16.png"></div>
                        <div data-src="/img/octocat32.png"     data-media="(-webkit-min-device-pixel-ratio: 2)"></div>
                        <noscript><img src="/img/octocat16.png" alt="Github"></noscript>
                    </div>
                </a>
            </div>
            <!--div class="avatar" data-picture data-alt="avatar">
                <div data-src="/img/me.jpg"></div>
                <div data-src="{% include avatar_url %}?s=108" data-media="(-webkit-min-device-pixel-ratio: 2)"></div>
                <img src="/img/me.jpg" alt="me">
            </div-->
        </div>
        <h5 class="logo"><a href="">Marcin Junczys-Dowmunt</a></h5>
        <nav class="main">
            <ul>
                {% if page.nav == "blog" %}
                    <li><a href="" class="active">Blog</a></li>
                {% else %}
                    <li><a href="">Blog</a></li>
                {% endif %}
                {% if page.nav == "publications" %}
                <li><a href="/publications" class="active">Publications</a></li>
                {% else %}
                <li><a href="/publications">Publications</a></li>
                {% endif %}
                {% if page.nav == "projects" %}
                <li><a href="/projects" class="active">Projects</a></li>
                {% else %}
                <li><a href="/projects">Projects</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="nav-slider">
            <div class="nav-selection {{ page.nav }}"></div>
        </div>
        <!--div class="subnav-slider">
            <div class="subnav-selection {{ page.subnav }}"></div>
        </div>
        <nav class="subnav">
            <ul>
                {% if page.subnav == "exemplar-home" %}
                  <li><a href="/exemplar" class="active" data-subnav="exemplar-home">Home</a></li>
                {% else %}
                    <li><a href="/exemplar" data-subnav="exemplar-home">Home</a></li>
                {% endif %}
                {% if page.subnav == "exemplar-docs" %}
                    <li><a href="/docs" class="active" data-subnav="exemplar-docs">Docs</a></li>
                {% else %}
                    <li><a href="/docs" data-subnav="exemplar-docs">Docs</a></li>
                {% endif %}
                {% if page.subnav == "download" %}
                    <li><a href="https://github.com/tybenz/exemplar/archive/master.zip" class="active" data-subnav="download">Download</a></li>
                {% else %}
                    <li><a href="https://github.com/tybenz/exemplar/archive/master.zip" data-subnav="download">Download</a></li>
                {% endif %}
            </ul>
        </nav-->
    </div>
</header>
